{% extends 'layout.html.twig' %}

{#


#}

{% block titleContent %}
    Base de donné produit
{% endblock %}



{% block content %}

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}


    {{ form_start(formProduct, { 'attr' : { 'novalidate' : 'novalidate' } }) }}


    <div>

        {{ form_label(formProduct.title, "Titre", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.title) }}
        {{ form_widget(formProduct.title, {attr: {placeholder: "Titre"}}) }}

    </div><br>

    <div>

        {{ form_label(formProduct.description, "Description", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.description) }}
        {{ form_widget(formProduct.description, {attr: {placeholder: "Description"}}) }}

    </div><br>

    <div>

        {{ form_label(formProduct.price, "Prix", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.price) }}
        {{ form_widget(formProduct.price) }}

    </div><br>

    <div>

        {{ form_label(formProduct.quantity, "Quantité", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.quantity) }}
        {{ form_widget(formProduct.quantity) }}

    </div><br>

    <div>
        {{ form_label(formProduct.marque, "Marque", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.marque) }}

        {{ form_widget(formProduct.marque) }}

    </div><br>

    <div>
        {{ form_label(formProduct.categorie, "Categorie", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.categorie) }}

        {{ form_widget(formProduct.categorie) }}

    </div><br>

    <div>
        {{ form_label(formProduct.image, "Image", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.image) }}

        {{ form_widget(formProduct.image) }}

    </div><br>



    <button>Ajouter</button>

    {{ form_end(formProduct) }}

    <br><br>


    <a href="{{ path('admin_produits') }}"><button class="btn btn-primary">Retour</button></a>


{% endblock %}
