
{% extends 'layout.html.twig' %}

{#


#}

{% block titleContent %}
    Modification du produit : {{ formProduct.vars.data.id }}
{% endblock %}



{% block content %}

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}


    {{ form_start(formProduct) }}
    <div>

        {{ form_label(formProduct.title, "Titre", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.title) }}
        {{ form_widget(formProduct.title, {attr: {placeholder: "Titre"}}) }}

    </div><br>

    <div>

        {{ form_label(formProduct.description, "Description", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.description) }}
        {{ form_widget(formProduct.description, {attr: {placeholder: "Description"}}) }}

    </div><br>

    <div>

        {{ form_label(formProduct.price, "Prix", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.price) }}
        {{ form_widget(formProduct.price) }}

    </div><br>

    <div>

        {{ form_label(formProduct.quantity, "Quantité", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.quantity) }}
        {{ form_widget(formProduct.quantity) }}

    </div><br>



    <button>Modifier</button>

    {{ form_end(formProduct) }}

    <br><br>


    <a href="{{ path('admin_produits') }}"><button class="btn btn-primary">Retour</button></a>

{% endblock %}
