
{% extends 'layout.html.twig' %}

{#


#}

{% block titleContent %}
    Modification du produit : {{ formProduct.vars.data.id }}
{% endblock %}



{% block content %}

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}


    {{ form_start(formProduct, {'attr':{ 'novalidate' : 'novalidate' }}) }}
    <div>

        {{ form_label(formProduct.titleFR, "Titre", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.titleFR) }}
        {{ form_errors(formProduct.titleEN) }}
        {{ form_widget(formProduct.titleFR, {attr: {placeholder: "Titre FR"}}) }}
        {{ form_widget(formProduct.titleEN, {attr: {placeholder: "Titre EN"}}) }}

    </div><br>

    <div>

        {{ form_label(formProduct.descriptionFR, "Description", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.descriptionFR) }}
        {{ form_errors(formProduct.descriptionEN) }}
        {{ form_widget(formProduct.descriptionFR, {attr: {placeholder: "Description FR"}}) }}
        {{ form_widget(formProduct.descriptionEN, {attr: {placeholder: "Description EN"}}) }}

    </div><br>

    <div>

        {{ form_label(formProduct.price, "Prix", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.price) }}
        {{ form_widget(formProduct.price) }}

    </div><br>

    <div>

        {{ form_label(formProduct.quantity, "Quantité", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.quantity) }}
        {{ form_widget(formProduct.quantity) }}

    </div><br>

    <div>
        {{ form_label(formProduct.marque, "Marque", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.marque) }}

        {{ form_widget(formProduct.marque) }}

    </div><br>

    <div>
        {{ form_label(formProduct.categorie, "Categorie", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
        {{ form_errors(formProduct.categorie) }}

        {{ form_widget(formProduct.categorie) }}

    </div><br>

    <div>

        {{ form_label(formProduct.image, "Image", {label_attr: {class: 'form-control  bg-navy-active'}}) }}


        <img src="{{ asset('img/'~formProduct.vars.value.image) }}" alt="pas d'image" style="width:100px">

        {{ form_errors(formProduct.image) }}

        {{ form_widget(formProduct.image) }}

    </div><br>
    
    



    <button>Modifier</button>

    {{ form_end(formProduct) }}

    <br><br>


    <a href="{{ path('admin_produits') }}"><button class="btn btn-primary">Retour</button></a>

{% endblock %}
