
{% extends 'layout.html.twig' %}

{#

#}

{% block titleContent %}
    Fiche produit
{% endblock %}

{% block content %}

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div style="text-align:center">
                <h1 class="bg-navy-active">Titre : {{ product.title }}</h1>
        <img src="{{ asset('img/'~product.image) }}" style="width:100px;text-align:center" alt="Pas d'image">
                <h2>Description : {{ product.description }}</h2>
                {# <h2>Date : {{ product.date_created.date|date("d/m/y") }}</h2> #}
                <h2 class="bg-navy-active">Prix : {{ product.price }}€</h2>
            <h2 class="bg-navy-active">Dépend de la marque : <a href="{{ path('marque_show',{id:product.marque.id}) }}">{{ product.marque.title }}</a></h2>
    </div>

    <br><br>

    <a href="{{ path('admin_produits') }}"><button class="btn btn-primary">Retour</button></a>
    <a href="{{ path('editProduit',{id:product.id}) }}"><button class="btn btn-success">Modifier</button></a>
    <a href="{{ path('removeProduit',{id:product.id}) }}"><button class="btn btn-danger">Supprimer</button></a>



{% endblock %}
