
{% extends 'layout.html.twig' %}

{#

- Tous les produits dans un block titre
- bouton "créer" 

- tableau = id title description date actions => voir,éditer(jaune),supprimer(rouge)

#}

{% block titleContent %}
	Tous les produits
    <a class="btn btn-block btn-primary" style="width:150px;display:inline-block;margin-left:20px;" href="{{ path('creerProduit') }}">Créer</a>
  
{% endblock %}

{% block content %}

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}


    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Mon tableau</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Img</th>
                  <th>Titre</th>
                  <th>Description</th>
                  {#<th>Date</th>#}
                  <th colspan="3">Actions</th>
                </tr>
                </thead>

                  {# boucle pour le tableau des prix #}
                      {% set tabPrix = [] %}


                  {% for k, product in products %}
                          {% set tabPrix = tabPrix|merge([product.price]) %}
                      {% endfor %}
                  {# boucle pour le moins cher #}

                <tbody>
                    {% set total = 0 %}

                	{% for product in products %}

                        {% set total = total + product.price %}

		                <tr {% if product.price ==  min(tabPrix)%}style="background-color:lightgrey"{% endif %}>
		                  <td>{{ product.id }}</td>
                            <td><img src="{{ asset('img/'~product.image) }}" style="width:100px" alt="vide"></td>
		                  <td>{{ product.titleEN }}</td>
		                  <td>{{ product.descriptionEN }}</td>
		                  {# <td>{{products.0.date_created.date|date("d/m/y")}}</td> #}
		                  <td><a href="{{ path('showProduit',{id:product.id}) }}" class="btn btn-block btn-primary">Voir</a></td>
		                  <td><a href="{{ path('editProduit',{id:product.id}) }}" class="btn btn-block btn-success">Editer</a></td>
		                  <td><a href="{{ path('removeProduit',{id:product.id}) }}" class="btn btn-block btn-danger">Supprimer</a></td>
		                </tr>

                	{% endfor %}
                </tbody>

              </table>
            </div>
            <!-- /.box-body -->

              <!-- BAR CHART -->
              <div class="box box-success">
                  <div class="box-header with-border">
                      <h3 class="box-title">Bar Chart</h3>

                      <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>
                  </div>
                  <div class="box-body">
                      <div class="chart">
                          <canvas id="barChart" style="height:230px"></canvas>
                      </div>
                  </div>
                  <!-- /.box-body -->
              </div>
              <!-- /.box -->

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable(
                    {
                        "language": {
                            "lengthMenu": "Montrer _MENU_ enregistrement par page",
                            "zeroRecords": "Nothing found - sorry",
                            "info": "Montrer page _PAGE_ à _PAGES_",
                            "infoEmpty": "Pas d'enregistrements pour cette recherche",
                            "infoFiltered": "(filtered from _MAX_ total records)"
                        }}
            );
        });
    </script>
{% endblock %}