{% extends 'layoutPublic.html.twig' %}

{% block stylesheets %}

    <!-- Custom CSS -->
    <link href="{{ asset('public/categories/css/heroic-features.css') }}" rel="stylesheet">


{% endblock %}




{% block body %}


    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Catégorie : {{ categorie.title }}</h1>
        <p>{{ categorie.description }}</p>
        </p>
    </header>

    <hr>


{% if pages > 0 %}

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Les produits associés</h3>
                <a href="{{ path('PublicCategorieShow',{'id':categorie.id,'page':pageActive,'tri':'ASC'}) }}" class="btn btn-info">
                    Prix croissant
                </a>
                <a href="{{ path('PublicCategorieShow',{'id':categorie.id,'page':pageActive,'tri':'DESC'}) }}" class="btn btn-info">
                    Prix décroissant
                </a>

            </div>
        </div>

    <nav aria-label="..." class="col-md-12 row">
    <ul class="pagination " >



    {% for page in 1..pages %}

    <li class="page-item {% if page == pageActive %}active{% endif %}">
        <a class="page-link" href="{{ path('PublicCategorieShow',{'id':categorie.id,'page':page}) }}">{{ page }}


            {% if page == pageActive %}
                <span class="sr-only">(current)</span>
            {% endif %}



        </a></li>

        </ul>
        </nav>



    {% endfor %}

    {% else %}

    <h2>Pas de produits associés.</h2>

{% endif %}




    <!-- Page Features -->
    <div class="row text-center">




        {% for prod in products %}


        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="{{ asset('img/'~prod.image) }}" alt="" style="height:100px">
                <div class="caption">
                    <h3>{{ attribute(prod,'title' ~ app.request.locale  ) }}</h3>
                    <p>{{ attribute(prod,'description' ~ app.request.locale) }}</p>
                    <p>
{#
                        <a href="#" class="btn btn-primary">Buy Now!</a>
#}
                        <a href="{{ path('PublicProduitShow',{'id':prod.id}) }}" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        {% endfor %}


    </div>

    <!-- /.row -->


{% endblock %}
