
<table class="table">
    {% set nbreProduit = 1 %}

    {% for prod in produits %}



                <div class="col-sm-4 col-lg-4 col-md-4">
                    <a href="{{ path('PublicProduitShow',{'id':prod.id}) }}">

                        <div class="thumbnail">

                            <img src="{{ asset('img/'~prod.image) }}" alt="">
                            <div class="caption">
                                <h4 class="pull-right">{{ prod.price }}€</h4>
                                <h4><a href="#">{{ prod.titleEN }}</a>
                                </h4>
                                <p>{{ prod.descriptionEN }}</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">Quantité : {{ prod.quantity }}</p>
{#
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
#}
                            </div>
                        </div>

                    </a>
                </div>

        {% endfor %}
</table>
