{% extends 'layoutPublic.html.twig' %}

{% block stylesheets %}

    <!-- Custom CSS -->
    <link href="{{ asset('public/item/css/shop-item.css') }}" rel="stylesheet">


{% endblock %}


{% block body %}

{#
    {{ dump(product) }}
#}



        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}


        <div class="thumbnail">
            <img class="img-responsive" src="{{ asset('img/'~product.image) }}" alt="" style="width:auto;height:350px;margin:auto">
            <div class="caption-full">
                <h4 class="pull-right">{{ product.price }}€</h4>
                <h4><a href="#">{{ product.title }}</a>
                </h4>
                <p>{{ product.description }}</p>
            </div>
            <div class="ratings">
                <p class="pull-right">Quantité : {{ product.quantity }}</p>
{#
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    4.0 stars
                </p>
#}
            </div>

        </div>



        <div class="well">

            <div class="text-right">
                <a class="btn btn-success" href="{{ path('creerCommentaire',{'id':product.id}) }}">Ajouter un commentaire</a>
            </div>

            <hr>


            {% for comment in comments %}

                <div class="row">
                    <div class="col-md-12">
{#
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
#}
                        <h3>{{ comment.author }}</h3>
                        <span class="pull-right">{{ comment.createAt.date|date('d/m/Y') }}</span>
                        <p>{{ comment.content }}</p>
                    </div>
                </div>

                <hr>


            {% endfor %}



        </div>



{% endblock %}