
{% extends 'layout.html.twig' %}

{#


#}

{% block titleContent %}
    Fiche catégorie
{% endblock %}

{% block content %}
    <div style="text-align:center">
        {% if categorie.id == 'x' %}
            <h1 class="btn-danger">Catégorie introuvable</h1><br><br>
            <a href="{{ path('admin_produits') }}" class="btn-lg btn-success">Retour</a>
        {% else %}
            <div class="btn btn-lg btn-success">Titre : {{ categorie.title }}</div>
            <h2>Description : {{ categorie.description|raw|nl2br }} ({{ categorie.description|striptags|length }})</h2>
            <h2>Position : {{ categorie.position }}</h2>
        {% endif %}
    </div>

    <br><br>

    <a href="{{ path('admin_categories') }}"><button class="btn btn-success">Retour</button></a>


{% endblock %}
