{% extends 'layout.html.twig' %}

{% block titleContent %}
    Nouvelle marque
{% endblock %}


{% block content %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_label(form.title,"Titre", {label_attr: {class: 'form-control  bg-navy-active'}}) }}
    {{ form_errors(form.title) }}

    {{ form_widget(form.title) }}
    <br><br>
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <br><br>

    <a class="btn btn-primary" href="{{ path('marque_index') }}">Retour</a>
{% endblock %}
