{% extends 'layout.html.twig' %}


{% block titleContent %}
    Marque
{% endblock %}


{% block content %}

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marque.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ marque.title }}</td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <a class="btn btn-primary" href="{{ path('marque_index') }}">Retour</a>
    <a class="btn btn-success" href="{{ path('marque_edit',{id:marque.id}) }}">Modifier</a>
    <a class="btn btn-danger" href="{{ path('marque_delete',{id:marque.id}) }}">Supprimer</a>

{% endblock %}
